*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body{
    font-family: 'PT Sans', sans-serif;
}
section{
    padding: 50px 0;
}

img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: white;
}
/* UTILITY */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.mb-30{
    margin-bottom: 30px;
}
.bg-primary{
   background-color: white ;
   color: black;
}
.bg-secondary{
    background-color: rgb(151,146,228);
    color: white;
}
.text-secondary{
    color:rgb(151,146,228) ;
}
.bg-heavenly{
    background-color: rgb(181,221,255);
}
.bg-lightblue{
    background-color: rgb(0,132,253);
}
figure{
    width: 220px;
    height: 220px;
    
}
figure > img{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
/*** HEADER ***/
header{
    /* height: 90px; */
    background-color: rgb(0,132,253);
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    font-size: 25px ;
    display: inline-block;
}
.nav-right > ul{
    display: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.nav-right li{
    padding-left: 20px;
    text-transform: capitalize;
}


/* buttons */
.btn{
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
}
.btn-large{
    padding: 10px 40px;
    letter-spacing: 3px;
    font-weight: bolder;
}
/* CARD */
.card{
    flex-basis: 100%;
    min-height: 200px ;
    
    text-align: center;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 30px;
}
.card > * , .col-left > *{
    margin-bottom: 30px;
}
/*** MAIN ***/
main{
    padding-top: 90px;
}
main p{
    line-height: 25px;
}
/* informations */
#informations .card > i,
#informations .card  h3 {
    color: rgb(0,132,253);
}
.card.application{
    padding-bottom: 0;
    text-align: left;
}
#informations p {
    color: rgb(90,110,127);
    font-weight: bolder;
    /* line-height: 25px; */
}
.col-img{
    margin-bottom: 0;
}
/* strategic-planning */
#strategic-planning .card:first-child{
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
#strategic-planning .card:first-child > img{
    margin-bottom: 60px;
}
.fa-arrow-down-long{
    background-color: rgb(151,146,228);
    border-radius: 50%;
    padding: 20px;
}

/* testimonials */
#testimonials{
    text-align: center;
}
#testimonials h2{
    color: rgb(151,146,228);
}
#testimonials .card{
    padding: 0 30px;
}
#testimonials figure{
    margin: 30px auto;
}
#testimonials p{
    font-size: 18px;
}
/* benefits */
#benefits{
    text-align: center;
}
#benefits h2{
    font-size: 60px;
}
#benefits h3{
    margin-bottom: 35px;
    font-size: 45px;
}
#benefits h4{
    font-size: 30px;
}
#benefits .card{
    text-align: left;
    color: rgb(151,146,228);
}
#benefits p{
    color: gray;
}
/* about us */
#about-us p{
    font-size: 20px;
    line-height: 40px;
}
#about-us h3{
    font-size: 35px;
    color: rgb(151,146,228);
}
#about-us h2{
    color: rgb(151,146,228);
    font-size: 60px;
}
.col-left, .col-right{
    flex-basis: 100%;
    min-height: 300px;
}
 #about-us figure{
    margin: 30px 0;
    position: relative;
 }
 #about-us .fa-quote-left{
    color: rgb(151,146,228);
    font-size: 50px;

    position: absolute;
    top: 10px;
    right: 0;

 }
/* get started */
#get-started{
    text-align: center;
}
#get-started .container >* {
  margin-bottom: 30px;
}
#get-started p:first-child{
    color: lightgray;
    letter-spacing: 2px;
}
#get-started h2{
    font-size: 30px;
}
#get-started h1{
    color: rgb(253,193,95);
    font-size: 65px;
}
#get-started .btn {
    color:rgb(151,146,228) ;
    padding: 20px 40px;
    border-radius: 30px;
}
.link{
    text-decoration: underline;
}
.fa-circle{
    font-size: 5px;
}
/*** FOOTER ***/
footer{
    padding: 50px;
    text-align: center;
    height: 250px ;
    background-color: rgb(51,51,51);
    color: white;
}

/*****************--RESPONSIVE-- ******************/
@media screen and (min-width: 768px ) {
    /* main */
    /* information */
    #informations .row{
        justify-content: space-between;
        margin: 0 -1rem;
    }
    #informations .card.application{
        flex-basis: calc(100% / 3 * 2 - 2rem);
     }
    #informations .card{
        flex-basis: calc(100% / 3 - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #informations img{
        width: 50%;
    }
    /* strategic-planning */
    h2{
        font-size: 50px;
    }
    /* testimonials */
    #testimonials .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    #testimonials figure{
        flex-basis: 40%;
        padding-right: 30px;
    }
    #testimonials .card > div{
        flex-basis: 60%;
    }
    /* benefits */
    #benefits .row{
        justify-content: space-between;
    }
    #benefits .card{
        flex-basis: 48%;
    }
    /* about us */
    #about-us .row{
        justify-content: space-between;
    }
    #about-us .col-left{
        flex-basis: 60%;
    }
    #about-us .col-right{
        flex-basis: 30%;
    }
}

@media screen and (min-width: 920px) {
    /* header */
    .fa-bars{
        display: none;
    }
    .nav-right > ul{
        display: flex;
    }
    /* main */
    /* information */
    .application{
        display: flex;
        align-items: center;
    }
    #informations .col-left, .col-img{
        flex-basis: 50%;
    }
    #informations .col-img > img{
        width: 70%;
    }
    #informations .col-img{
        align-self: flex-end;
    }

    /* strategic-planning */
    #strategic-planning h2{
        font-size: 30px;
    }
    #strategic-planning .row{
        justify-content: center;
        align-items: flex-end;
    }
    #strategic-planning .card{
        flex-basis: 40%;
    }
    #strategic-planning .card:last-child img{
        width: 50%;
        margin: 0 auto;
    }
    /* testimonials */
    #testimonials figure{
        flex-basis: 25%;
    }
    #testimonials .card > div{
        flex-basis: 80%;
    }

    #benefits .card{
        flex-basis: 32%;
    }
}